.company-page {

    .company-content {
        @extend .mt-4;
        @extend .flex-container;
        @extend .flex-column;
        gap: 20px;
        color: map-get($colors, dark);

        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        h2 {
            font-size: 1.5rem;
            color: map-get($colors, primary);
            margin-bottom: 15px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-bottom: 20px;
        }

        li {
            @extend .flex-container;
            @extend .flex-align-center;
            padding-left: 1em;
            margin-bottom: 10px;
            font-size: 1.1rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 3px;
                height: 3px;
                background-color: #01a0e2;
                border: 1px solid #1d1d27;
                left: 0;
                color: transparent;
                text-shadow: 0 0 0 black;
                transform: rotate(45deg);
            }
        }

        strong {
            color: map-get($colors, primary);
        }
    }
}