.service-section {
    @extend .pb-5;
    background: url('/images/pattern-illustration-vector.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: map-get($colors, light);
        z-index: -1;
    }

    .service-item {
        @extend .flex-container;
        @extend .flex-column;
        @extend .p-5;
        border: 2px solid map-get($colors, primary);
        background-color: map-get($colors, natural);
        gap: 20px;
        transition: all 0.2s ease;
        cursor: pointer;
        overflow: hidden;

        .icon {
            @extend .font-size-50;
            transform: scale(1);
            color: map-get($colors, primary);
            transition: all 0.2s ease
        }

        h4 {
            @extend .font-size-36;
            color: map-get($colors, secondary);
            transform: translateY(0) scale(1);
            transition: all 0.2s ease;
        }

        p {
            @extend .font-size-14;
            color: map-get($colors, silvery);
            transition: all 0.2s ease;
        }

        &:hover {
            .icon {
                transform: scale(1.4);
                color: map-get($colors, natural);
            }

            h4 {
                transform: translateY(30px) scale(1.4);
                color: map-get($colors, natural);
            }

            p {
                color: map-get($colors, natural);
                transform: scale(0.1);
                visibility: hidden;
            }

            background-color: map-get($colors, primary);
            transform: translateY(-10px);
        }
    }
}