.basket {
  position: relative;
  height: 40px;
  width: 40px;

  .basket-count {
    position: absolute;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: map-get($colors, primary);
    color: map-get($colors, natural);
    border-radius: 50%
  }

}

.basket-tab {
  @extend .p-5;
  position: fixed;
  width: 30%;
  background-color: map-get($colors, inky);
  color: map-get($colors, natural);
  inset: 0 0 0 auto;
  display: grid;
  right: -100%;
  transition: right 0.3s ease-in-out;
  grid-template-rows: 50px 1fr 50px;

  &.open {
    right: 0;
  }

  .basket-title {
    @extend .flex-container;
    @extend .flex-justify-space-between;
    @extend .flex-align-center;
    user-select: none;

    span {
      @extend .font-size-36;
      color: map-get($colors, primary);
      transform: rotate(45deg);
      position: relative;
      transition: all 0.2s ease;
      cursor: pointer;


      &:hover {
        transform: rotate(135deg);
      }
    }
  }

  .basket-btns {
    justify-content: space-between;
    align-items: center;

    .btn {
      border: 1px solid map-get($colors, secondary);

      &:hover {
        border: 1px solid map-get($colors, primary)
      }
    }
  }

}

.orders-tab {
  @extend .flex-container;
  @extend .flex-column;
  @extend .my-5;
  gap: 10px;

}