.btn {
    @extend .font-weight-700;
    @extend .py-3;
    @extend .px-6;


    border: none;
    text-transform: uppercase;
    background-color: map-get($colors, primary);
    color: map-get($colors, natural);
    transition: all 0.2s ease;

    &:hover {
        background-color: map-get($colors, secondary);
    }
}

.btn-content {
    text-transform: uppercase;
    @extend .flex-container;
    @extend .flex-align-center;
    @extend .font-weight-700;
    gap: 10px;
    transition: all 0.2s ease;
    color: map-get($colors, info);

    span {
        transform: translateX(0px);
        transition: all 0.2s ease;

        svg {
            @extend .font-size-24;
        }
    }

    &:hover {
        span {
            transform: translateX(10px);
        }
    }
}

.btn-remove {
    @extend .font-size-20;

    position: absolute;
    right: 0;
    top: 0;
    background-color: map-get($colors, danger);
    color: map-get($colors, natural);
    width: 0%;
    height: 100%;
    transition: all 0.2s ease;
}

.danger {
    background-color: map-get($colors, danger);

    &:hover {
        background-color: map-get($colors, danger);
        border: 2px solid map-get($colors, natural)
    }
}

.btn-store {
    @extend .flex-container;
    @extend .flex-align-center;
    @extend .flex-justify-center;
    flex-wrap: wrap;
    gap: 10px;
}
.btn-store-start {
    @extend .flex-container;
    @extend .flex-align-center;
    @extend .flex-justify-start;
    flex-wrap: wrap;
    gap: 10px;
}

.wp {
    background-color: #25D366 !important;
    transition: all 0.2s ease;

    &:hover {
        background-color: #128C7E !important;
    }
}