.product-categories {
    .category-container {
        gap: 2px;

        a {
            width: 100%;
        }

        li {
            @extend .p-2;

            &:hover {
                background-color: map-get($colors, silvery);
            }

        }

        .active-category {
            background-color: map-get($colors, silvery);
        }
    }

    .categories {
        .category-item {
            transition: all 0.2s ease;

            img {
                max-width: 400px;
                max-height: 300px;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(1);
                transition: transform 0.2s ease;
            }

            p {
                transition: all 0.2s ease;
            }

            &:hover {
                p {
                    font-weight: 700;
                    color: map-get($colors, primary);
                }

                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.currentItem-element {
    .element-description {
        @extend .flex-container;
        @extend .flex-column;
        gap: 10px;

        p {
            color: map-get($colors, overlay);
        }
    }

    .element-subtypes {
        @extend .flex-container;
        @extend .flex-column;
        @extend .mt-10;
        gap: 10px;

        p {
            color: map-get($colors, overlay);
        }

        ul {
            padding-left: 1em;

            li {
                @extend .flex-container;
                @extend .flex-align-center;

                position: relative;
                padding-left: 1em;

                &::before {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    background-color: map-get($colors, primary);
                    border: 1px solid map-get($colors, inky);
                    left: 0;
                    color: transparent;
                    text-shadow: 0 0 0 black;
                    transform: rotate(45deg);
                }
            }
        }
    }
}