.product-categories {
    .category-container {
        gap: 8px;

        a {
            width: 100%;
        }

        li {
            @extend .p-2;
            @extend .font-size-14;
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            color: map-get($colors, secondary);
            transition: all 0.2s ease;

            &:hover {
                background-color: map-get($colors, primary);
                color: map-get($colors, natural);

            }

        }

        .active-category {
            background-color: map-get($colors, secondary);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: map-get($colors, natural);

        }
    }

    .categories {

        .category-item {
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            @extend .flex-container;
            min-height: 380px;
            transition: all 0.2s ease;

            &-img {
                max-width: 400px;
                max-height: 300px;
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transform: scale(1);
                    transition: transform 0.2s ease;
                }
            }

            &-name {
                @extend .m-3;
                @extend .flex-container;
                @extend .flex-align-center;

                p {
                    @extend .font-size-14;
                    text-transform: uppercase;
                }

                p,
                svg {
                    transition: all 0.2s ease;
                    color: map-get($colors, overlay);
                }


            }



            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                p,
                svg {
                    font-weight: 700;
                    color: map-get($colors, primary);
                }

                svg {
                    transform: translateX(5px);
                }

                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.element-description {
    @extend .flex-container;
    @extend .flex-column;
    gap: 10px;

    p {
        color: map-get($colors, overlay);
    }
}

.img-container {
    img {
        max-height: 500px;
        object-fit: cover;
        object-position: center;
    }
}

.element-images {
    img {
        width: 100%;
        object-fit: contain;
        min-height: 350px;
        height: 100%;
    }
}

.element-subcat {
    @extend .flex-container;
    @extend .flex-column;
    @extend .flex-justify-space-between;
    @extend .my-3;
    @extend .p-3;
    min-height: 500px;
    gap: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;

    img {
        width: 100%;
        object-fit: contain;
        min-height: 300px;
        max-height: 300px;
        height: 100%;
    }

    span {
        @extend .font-size-18;
        @extend .font-weight-700;

        color: map-get($colors, primary);
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

.element-subtypes {
    @extend .flex-container;
    @extend .flex-column;
    @extend .mt-10;
    gap: 10px;

    p {
        color: map-get($colors, overlay);
    }

    ul {
        padding-left: 1em;

        li {
            @extend .flex-container;
            @extend .flex-align-center;

            position: relative;
            padding-left: 1em;

            &::before {
                content: "";
                position: absolute;
                width: 3px;
                height: 3px;
                background-color: map-get($colors, primary);
                border: 1px solid map-get($colors, inky);
                left: 0;
                color: transparent;
                text-shadow: 0 0 0 black;
                transform: rotate(45deg);
            }
        }
    }
}


.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.image-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.image-modal img {
    max-width: 100%;
    height: auto;
}