.dropdown {
  position: absolute;
  @extend .flex-container;
  @extend .flex-column;
  width: 30vw;
  gap: 0;

  &.clicked {
    display: none;
  }
}

.dropdown-r {
  position: absolute;
  top: 100%;
  left: 0;
  clip-path: inset(0% 0% 100% 0%);
  width: 100%;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  transition: all 0.1s cubic-bezier(0.51, 0.16, 0.87, 0.54);
  background-color: map-get($colors, primary);
}

.dropdown-item {
  color: map-get($colors, natural);
  background-color: map-get($colors, primary);
  transition: all 0.4s ease;
  justify-content: flex-start !important;
  text-align: left;
  transition: all 0.2s ease;
  @extend .p-4;

  &:hover {
    background-color: map-get($colors, secondary);
  }
}