.form-group {
    @extend .flex-container;
    @extend .flex-column;
    gap: 10px;

    label{
        user-select: none;
      

    }
    .form-control {
        @extend .p-3;
        border: 1px solid map-get($colors, overlay);
        border-radius: 5px;
        transition: all 0.2s ease;
        width: 100%;

        &:focus {
            border: 1px solid map-get($colors, primary);
        }

        &:hover {
            background-color: map-get($colors, light);
        }
    }

    .form-error {
        @extend .font-size-12;
        color: map-get($colors, danger);
    }
}