.img-container {
    position: relative;
    // overflow: hidden;
  
    .main-img {
      width: 100%;
      display: block;
      overflow: hidden;
    }
  
    .zoom-img {
      position: absolute;
      top: 0;
      left: 100%;
      width: 200%;
      height: 200%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200%;
      transform: scale(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
      pointer-events: none;
    }
  
    &:hover {
      .zoom-img {
        transform: scale(1);
      }
    }
  }
  