.nav {
  &-bar {
    @extend .py-4;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    .logo img {
      width: 60%;
      max-width: 200px;
    }

    .basket {
      @extend .font-size-24;
      @extend .px-1;
      background-color: transparent;
      color: map-get($colors, natural);
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 8px;
    transition: right 0.3s ease-in-out;

    .nav-link-wrapper {
      @extend .px-2;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
      color: map-get($colors, inky);

      &:hover {
        background-color: map-get($colors, primary);
      }
    }

    .nav-link-wrapper:hover {
      background-color: map-get($colors, primary);

      .dropdown-r {
        background: map-get($colors, natural);
        clip-path: inset(0% 0% 0% 0%);
      }
    }
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 9;

  span {
    height: 2px;
    width: 100%;
    border-radius: 0.1rem;
    background: map-get($colors, natural);
    transition: ease-out 0.3s;
  }
}

.active {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.15);
  background-color: map-get($colors, inky);
}

.other-page {
  background-color: map-get($colors, natural);
}

.nav-toggle {
  display: none;
}

