.basket {
    color: map-get($colors, natural);
}

.basket-tab {
    @extend .p-5;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30%;
    background-color: map-get($colors, inky);
    color: map-get($colors, natural);
    inset: 0 0 0 auto;
    display: none;
    grid-template-rows: 50px 1fr 50px;

    &.open {
        display: grid;
    }

    .basket-title {
        @extend .flex-container;
        @extend .flex-justify-space-between;
        @extend .flex-align-center;

        span {
            @extend .font-size-36;
            color: map-get($colors, primary);
            transform: rotate(45deg);
            position: relative;
            transition: all 0.2s ease;
            cursor: pointer;


            &:hover {
                transform: rotate(135deg);
            }
        }
    }

    .order {
        position: absolute;
        bottom: 20px;
        display: flex;
    }
}