@media (min-width: 1200px) {
  .container {
    max-width: 1160px !important;
  }
}

@media (min-width: 993px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .burger-menu {
    display: block;
    max-width: 100%;
  }

  .d-none {
    display: none;
  }

  .click:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 8px);
  }

  .click:nth-child(2) {
    transform: scale(0.01);
  }

  .click:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -9px);
  }

  .burger-menu {
    display: flex !important;
    background-color: transparent;
  }

  .nav-links.open {
    .basket {
      position: absolute;
      right: 5%;
    }

    .nav-toggle {
      position: absolute;
      right: 10%;
    }
  }

  .nav-toggle {
    margin-left: auto;
    background: transparent;
    color: #fff;
    z-index: 5;
    display: block;
  }

  .nav {
    &-bar {
      .container {
        position: relative;
      }
    }

    &-links {
      position: fixed;
      font-size: 18px;
      top: 0;
      right: -100%;

      &.open {
        right: 0;
      }

      padding-top: 70px;
      background-color: map-get($colors, inky);
      width: 100%;
      height: 100%;
      gap: 16px !important;
      display: flex;
      justify-content: flex-start !important;
      flex-direction: column;
      overflow-y: auto;

      .nav-link-wrapper {
        flex-direction: column;
        color: map-get($colors, natural);

        &:hover {
          background-color: map-get($colors, inky);

          .dropdown-r {
            background: map-get($colors, inky);
            color: map-get($colors, natural);

            svg {
              color: map-get($colors, natural);
            }
          }
        }

        height: fit-content;

        .dropdown-r {
          display: none;
          clip-path: none;
          position: static;
          background-color: map-get($colors, inky);
        }

        .dropdown-r.open {
          display: block;
          clip-path: none;
          position: static;
        }
      }
    }
  }

  .dropdown {
    width: 100vw !important;
  }

  .dropdown-item {
    border: none;

    svg {
      display: none;
    }

    .sub-category-header {
      text-align: center;

      &::after {
        width: 0;
      }
    }

    ul {
      li {
        justify-content: center;
      }
    }
  }


  .basket-tab {
    width: 70% !important;
  }

  .main-content {
    h1 {
      font-size: 52px !important;
    }
  }

  .about-counter::after {
    right: 0 !important;
    width: 80% !important;
  }

  .dropdown-r {
    position: static !important;
  }

  .category-container {
    a {
      width: max-content !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px !important;
  }

  .header {
    .bg-video {
      video {
        height: 100vh;
      }
    }

    .main-content {
      top: 20% !important;

      h1 {
        text-align: center;
        font-size: 46px !important;
        margin: 55px 0;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}